.OnExaminationInp {
    padding: 30px;
}
.wrapper {
    width: 40%;
}
.Inp {
    width: 40%;
    margin-bottom: 15px;
    position: relative;
}
.Inp input {
    border: none;
    outline: 0;
    border-bottom: 2px solid var(--primary);
    background: var(--light);
    padding: 15px 5px 0 5px;
    width: 100%;
    box-sizing: border-box;
}
.Inp label {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: var(--grey);
    pointer-events: none;
    transition: 300ms;
}
.Inp input:focus + label,
.Inp input:valid + label {
    bottom: 20px;
    font-size: 10px;
}

.addField {
    width: 40%;
    position: relative;
    top: 10px;
    border: 1px solid var(--primary);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
}
.addField input {
    border: none;
    border-radius: 2px;
    padding: 5px;
    width: 80%;
}
.addField button {
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    border-left: 1px solid var(--primary);
    padding: 5px;
    cursor: pointer;
}
.addField input:focus {
    outline: 0;
}
