.InvestigationInp {
    padding: 30px;
}

.InvestigationInp button {
    color: var(--white);
    background: var(--primary);
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
}
