.InvestigationInp {
    padding: 30px;
}
.wrap {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: flex-end;
    gap: 5px;
}
.wrap button {
    color: var(--white);
    background: var(--primary);
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}
