.ChiefComplaintsInp {
    padding: 15px 80px 15px 30px;
    position: relative;
}
.ChiefComplaintsInp button {
    display: block;
    border: none;
    background: var(--primary);
    color: var(--white);
    border-radius: 2px;
    padding: 7px 20px;
    transition: 300ms;
    margin-top: 15px;
}
.ChiefComplaintsInp button:hover {
    cursor: pointer;
    background: var(--secondary);
}
.tool {
    position: absolute;
    right: 20px;
    top: 60px;
}
