.Patient {
    display: block;
    z-index: 100;
    padding: 5px;
}
.Patient > div > input {
    padding: 5px;
    background: var(--light-grey);
}
.Patient > div > select {
    padding-left: 5px;
    font-size: 12px;
    color: var(--dark-grey);
    background: var(--light-grey);
}
.Patient > div > input:valid,
select {
    border: none;
}
.wrap1 {
    display: grid;
    grid-template-columns: minmax(0, 50%) auto minmax(0, 25%) minmax(0, 25%);
    gap: 10px;
    margin-bottom: 5px;
}
.wrap1 > label {
    color: var(--dark-grey);
    font-size: 12px;
    line-height: 26px;
    width: 100%;
    text-align: right;
}
.wrap2 {
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 40%) minmax(0, 40%);
    gap: 10px;
}
