.CoMorbidity h3 {
    margin-bottom: 5px;
    color: var(--dark-blue);
    position: relative;
}
.CoMorbidity h3 > span {
    font-size: 16px;
    position: absolute;
    right: 80px;
}
.check {
    margin-bottom: 15px;
    position: relative;
}
.check input,
.check label {
    cursor: pointer;
}
.check input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.check label {
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    /* position: relative; */
    width: 1500px;
}
.check label::before {
    position: absolute;
    content: '';
    background: var(--dark-blue);
    height: 2px;
    width: 10px;
    right: 250px;
    top: 9px;
}
.check label::after {
    position: absolute;
    content: '';
    background: var(--red);
    height: 10px;
    width: 2px;
    right: 254px;
    top: 5px;
    display: none;
}
.check input:checked + label::before {
    background: var(--red);
}
.check input:checked + label::after {
    display: block;
}

.check input[type='text'] {
    width: 40%;
    position: absolute;
    top: -7px;
    right: 0;
    cursor: initial;
    border: none;
    border-bottom: 2px solid var(--grey2);
    background: var(--light);
    padding: 5px 15px;
    transition: 200ms;
}
.check input[type='text']::placeholder {
    color: var(--grey);
}
.check input[type='text']:focus {
    outline: 0;
    border-bottom: 2px solid var(--primary);
}
