.PreviewSection h3 {
    margin: 0;
    padding: 0;
    color: var(--primary);
    padding-left: 30px;
    position: relative;
    font-size: 16px;
}
.PreviewSection > h3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 15px solid var(--secondary);
    border-right: 12px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 12px solid var(--secondary);
    z-index: -100;
}
