.InputMedicine {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 15px 5px;
}
.InputMedicine input {
    /* box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--primary); */
}
.formWrap {
    box-sizing: border-box;
}
.timeWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 20%));
    gap: 10px;
    margin-bottom: 10px;
}
.remark {
    width: 100%;
}
