.InputMedicine input {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--primary);
}
.formWrap {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.doses {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 33%));
}
.remark {
    width: 100%;
}
