.InputMedicine {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--primary);
    padding: 20px 25px;
}
.formWrap {
    box-sizing: border-box;
}
.timeWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 20%));
    gap: 10px;
    margin-bottom: 10px;
}
.remark {
    width: 100%;
}
.InputMedicine button {
    display: block;
    border: none;
    outline: 0;
    background: var(--secondary);
    color: var(--white);
    border-radius: 2px;
    padding: 7px 20px;
    margin: 0 auto;
    min-width: 150px;
}
.InputMedicine button {
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--grey2);
}
