.PreviewMedicine h4 {
    margin-left: 30px;
    color: var(--primary);
}
.medicine {
    /* border: 1px solid var(--primary); */
    box-shadow: 2px 1px 5px var(--grey2);
    border-radius: 4px;
    padding: 5px 10px;
    min-height: 100px;
    box-sizing: border-box;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 65%;
    position: relative;
    transition: 200ms;
}
.medicine:hover {
    box-shadow: 2px 1px 10px var(--grey2);
}
.medicine p {
    font-size: 12px;
    margin: 2px 0;
}
.medicine p span {
    margin: 0 10px;
}
.medicine p:first-child {
    font-weight: 500;
    margin: 6px 0;
}
.btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn button {
    display: block;
    font-size: 11px;
    padding: 2px 6px;
    min-width: 80px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn button:nth-child(2) {
    background: var(--primary);
    color: var(--white);
}
