.Dashboard {
    display: grid;
    grid-template-columns: minmax(0, 250px) auto;
}
.minimize {
    grid-template-columns: minmax(0, 0) auto;
}
.minimize > div:first-child {
    visibility: hidden;
}

h2 {
    color: var(--primary);
}
