.EpPDF {
    position: relative;
    padding: 60px 0;
    background: var(--light-grey);
}
.EpPDF .btnGroup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: linear-gradient(var(--light), var(--white), var(--light));
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 20px var(--grey);
    padding: 4px 0;
}
.btnGroup > a, .btnGroup > button{
    color: var(--primary);
    text-decoration: none;
    font-size: 14px;
    padding: 7px 20px;
    background: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    border-right: 1px solid var(--light-grey);
}
.btnGroup button:last-child{
    border-right: none;
}
.btnGroup > a:hover, .btnGroup > button:hover{
    color: var(--secondary);
}
