.Submit {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.Submit button {
    border: 2px solid var(--primary);
    padding: 7px 20px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 5px var(--grey2);
}
.Submit button:focus {
    outline: 0;
}
.Submit button:nth-child(1) {
    border-radius: 4px 0 0 4px;
    color: var(--primary);
    background: var(--white);
}
.Submit button:nth-child(2) {
    border-radius: 0 4px 4px 0;
    color: var(--white);
    background: var(--primary);
}
