.AdviceInpOut {
    padding: 30px;
}
.wrap {
    width: 80%;
}
.AdviceInpOut button {
    display: block;
    border: none;
    background: var(--primary);
    color: var(--white);
    border-radius: 2px;
    padding: 7px 20px;
    transition: 300ms;
    margin-top: 15px;
}
.AdviceInpOut button:hover {
    cursor: pointer;
    background: var(--secondary);
}
