@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --primary: #088bff;
    --dark: #333;
    --blue: #5b47fb;
    --dark-blue: #23395d;
    --grey: #7987a1;
    --light-grey: #dee3ec;
    --red: #f44336;
}
body {
    margin: 0;
    font-family: Poppins;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}
.container {
    width: 960px;
}
