@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --primary: #088bff;
    --blue: #5b47fb;
    --dark: #333;
    --dark-blue: #23395d;
    --grey: #7987a1;
    --light-grey: #dee3ec;
    --white: #fff;
    --red: #f44336;
}
body {
    margin: 0;
    font-family: Poppins;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--light-grey);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}

/* Input type design  */
input[type='text'] {
    border: 1px solid var(--light-grey);
    color: var(--dark-blue);
    outline: 0;
    display: block;
    width: 80%;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px;
}
input[type='text']:active,
input[type='text']:focus {
    border: 1px solid var(--primary);
}
