.Nav {
    overflow: hidden;
    border-bottom: 1px solid var(--light-grey);
}
.alignLeft svg {
    color: var(--light-grey);
    margin: 10px 0;
    font-size: 28px;
    cursor: pointer;
}
.alignLeft svg:hover {
    color: var(--secondary);
}

.Nav img {
    width: 150px;
    padding: 10px 0 0 60px;
}
.Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 50px;
}
.Nav ul li {
    float: left;
    margin: 10px 25px;
}
.Nav ul li a {
    color: var(--primary);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.Nav ul li svg {
    margin-right: 5px;
    color: var(--primary);
    font-size: 16px;
}
