.Nav {
    overflow: hidden;
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 40%) minmax(0, 60%);
}
.alignLeft {
    display: inline-block;
}
.alignLeft svg {
    color: var(--light-grey);
    margin: 10px 0;
    font-size: 28px;
    cursor: pointer;
}
.alignLeft svg:hover {
    color: var(--secondary);
}

/* .patient {
    display: inline-block;
    margin: 0 0 0 35px;
    position: relative;
    cursor: pointer;
    width: 80%;
}

.patient svg {
    font-size: 30px;
    position: absolute;
    top: 2px;
}
.add {
    color: var(--primary);
    position: relative;
    top: -17px;
}
.add::after {
    content: 'Please add your patient here!';
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    top: -16px;
    left: 20px;
    color: var(--primary);
    background: var(--white);
    border: 1px solid var(--primary);
    padding: 5px 10px;
    border-radius: 2px;
    animation: pop 2s infinite;
}

.ok > div {
    color: var(--primary);
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
}
.ok > div > svg{
    position: absolute;
    top: -10px;
}
.ok > div > p {
    margin: 0;
    display: inline;
    position: relative;
    font-weight: 500;
    top: -15px;
    left: 40px;
    font-size: 14px;
    color: var(--primary);
    border-radius: 2px;
}
.ok > div > p > span{
    color: var(--grey);
    display: block;
    font-size: 12px;
}
.ok p > span{
    margin-bottom: 2px;
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} */
